.consumer-panel {
  padding-top: 94px;
  padding-bottom: 94px;
}

.consumer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.consumer__link {
  display: flex;
  width: 170px;
  height: 90px;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--consumer-border);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border var(--animation-dur) var(--animation-type),
    color var(--animation-dur) var(--animation-type);
}

.consumer__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.consumer__link {
  color: var(--consumer-border);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.consumer__icon {
  fill: currentColor;
}
