.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $bg-footer-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: $bg-primary-color;
}
