.footer-nav {
  margin-right: 70px;
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 1.714;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer-nav__rout {
  margin: 0 0 9px;
  color: $bg-primary-color;
}

.footer-nav__connect {
  display: flex;
  margin-bottom: 9px;

  color: $text-contacts-color;
}

.footer-nav__connect--last {
  margin-bottom: 0;
}
